<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greeting" class="com.tseong.learning.spring.HelloWorldDemo">
        <property name="word">
            <value>Welcome from Spring Bean</value>
        </property>
        <property name="language">
            <value>中文</value>
        </property>
    </bean>
</beans>